@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  margin: 0px;
  font-family: "Roboto" !important;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(239, 145, 55) 0%, rgb(252, 213, 120) 100%);
  margin: 0;
}
.App .mobile-nav {
  position: absolute;
  top: 0;
  background-color: #fc9f6d;
  width: 100%;
  display: none;
}
.App .mobile-nav i {
  background-color: none;
  color: white;
  height: auto;
  border: none;
  float: right;
  font-size: 2rem;
}
.App i {
  background-color: #fc9f6d;
  padding: 5px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.home-div {
  width: 80%;
}
.home-div .btn {
  margin-top: 5px;
  background-color: #fc9f6d;
  border: 2px solid white;
  width: 100%;
}
.home-div .btn:hover {
  background-color: white;
  color: #fc9f6d;
  border: 2px solid #fc9f6d;
}

.login-div {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.login-div .btn {
  margin-top: 5px;
  background-color: #fc9f6d;
  border: 2px solid white;
  width: 100%;
}
.login-div .btn:hover {
  background-color: white;
  color: #fc9f6d;
  border: 2px solid #fc9f6d;
}
.login-div a {
  width: 100%;
}

.secondary-home-div {
  display: flex;
  justify-content: space-around;
  min-width: 80%;
  background-color: rgba(0, 0, 0, 0.1);
  filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.2));
  padding: 10px;
  border-radius: 5px;
}
.secondary-home-div .modal-div {
  background-color: #fc9f6d;
  height: 80%;
  width: 80%;
  position: fixed;
  z-index: 1;
  border: 1px solid white;
}
.secondary-home-div .modal-div .inner-modal-content {
  background-color: none;
}
.secondary-home-div .notes-div {
  text-align: center;
  min-width: 30%;
}
.secondary-home-div .notes-div .btn {
  margin-top: 5px;
  background-color: #fc9f6d;
  border: 2px solid white;
  width: 100%;
}
.secondary-home-div .notes-div .btn:hover {
  background-color: white;
  color: #fc9f6d;
  border: 2px solid #fc9f6d;
}
.secondary-home-div .notes-div .note-div {
  padding: 3px;
}
.secondary-home-div .notes-div .note-div [contenteditable=true] {
  background-color: white;
  border-radius: 5px;
}
.secondary-home-div .new-note-div input {
  display: block;
  width: 100%;
}
.secondary-home-div .notebooks-div {
  text-align: center;
}
.secondary-home-div .notebooks-div .btn {
  margin-top: 5px;
  background-color: #fc9f6d;
  border: 2px solid white;
  width: 100%;
}
.secondary-home-div .notebooks-div .btn:hover {
  background-color: white;
  color: #fc9f6d;
  border: 2px solid #fc9f6d;
}
.secondary-home-div .notebooks-div .individual-notebook-div {
  display: flex;
}
.secondary-home-div .notebooks-div .individual-notebook-div .btn {
  flex-grow: 1.2;
  background: #fc9f6d;
  color: white;
  border: 1px solid white;
  margin: 2px;
  width: 80%;
}
.secondary-home-div .notebooks-div .individual-notebook-div i {
  float: right;
  font-size: 100%;
  margin: 2px;
}
.secondary-home-div .notebooks-div .create-notebook-button {
  width: 100%;
}

@media (max-width: 768px) {
  .App .mobile-nav {
    position: absolute;
    top: 0;
    background-color: #fc9f6d;
    width: 100%;
    display: block;
  }
  .App .mobile-nav i {
    background-color: none;
    color: white;
    height: auto;
    border: none;
    float: right;
    font-size: 2rem;
    margin-right: 10px;
  }
  .notebooks-div {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
}/*# sourceMappingURL=index.css.map */